<!-- Encabezado de la página de contacto -->
<app-navbar></app-navbar>
<body>
    

<a href="#">
    <span>Cesta
    </span>
    <i class="fa-solid fa-bag-shopping"></i>
</a>
<section class="contenedor-inicio">

    <div class="img1">
        <img class="luff1" src="assets/nami.png" alt="foto luffy"></div>
    <div id="containerInformativo">
        <div class="container">
            <div class="row">
                <div class="formulario col-md-6">
                    <h2>Contactos</h2>
                    <form (submit)="enviarMensaje()">
                        <div class="form-group">
                            
                            <i class="fa-regular fa-user fa-sm" style="color: #000000;"></i>
                            <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="nombre">
                        </div>
                        <div class="form-group">
                            <i class="fa-regular fa-user fa-sm" style="color: #000000;"></i>
                            <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos" name="apellidos" placeholder="apellido">
                        </div>
                        <div class="form-group">
                            <i class="fa-brands fa-google fa-sm" style="color: #000000;"></i>
                            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <i class="fa-solid fa-mobile fa-sm" style="color: #000000;"></i>
                            <input type="tel" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" placeholder="telefono">
                        </div>
                        <div class="form-group">
                            <i class="fa-regular fa-note-sticky fa-sm" style="color: #000000;"></i>
                            <textarea class="form-control" id="mensaje" [(ngModel)]="mensaje" name="mensaje" rows="4" placeholder="Ingrese el texto aqui"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                    </form>
                </div>
                <div class="formulario2 col-md-6">
                    <!-- Información de contacto adicional -->
                    <h2>Información de Contacto</h2>
                    <p>
                        <strong>Teléfono:</strong>
                        +123456789</p>
                    <p>
                        <strong>Correo Electrónico:</strong>
                        info&#64;nakamastore.com</p>
                    <p>
                        <strong>Dirección:</strong>
                        Calle Principal, Ciudad</p>
                    <!-- Incluye el mapa aquí -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d101436.55777554367!2d-6.091733721855732!3d37.39237611184695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd126d6589956777%3A0xd0f2b6f951d53077!2sTorre%20Sevilla%2C%20C%2F%20Gonzalo%20Jimenez%20de%20Quesada%2C%202%2C%20C.C%2C%2041092%20Sevilla!3m2!1d37.3924047!2d-6.0093327!5e0!3m2!1ses!2ses!4v1702372574748!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           
                </div>
            </div>
        </div>

        <!-- Mensaje de confirmación de envío -->
        <div id="envio-confirmado" class="mensaje-envio">
            <p>¡Mensaje enviado con éxito!</p>
        </div>


    </div>

    <div class="img2">

        <img class="luff2" src="assets/nami2.png" alt="foto nami">
    </div>
</section>
</body>
<app-pie></app-pie>
