/* Estilo base para la barra de navegación */
.topnav {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 10px;
  max-height: auto;
  overflow: hidden;
}

/* Estilo para la imagen del logo */
.topnav img {
  max-height: auto;
  max-width: 150px;
  height: auto;
  right: 10px;
}

/* Estilo para la marca (nombre) */
.brand {
  flex-grow: 1;
  text-align: center;
}

.brand a {
  font-family: "Arial", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: text-shadow 0.3s;
}

/* Efecto de sombra al texto al pasar el mouse */
.brand a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo para los enlaces */
.links {
  flex: 0 0 auto;
}

/* Estilo base para los enlaces */
.links a {
  height: 30px;
  margin-right: 10px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Cambia el color de los enlaces al pasar el mouse */
.links a:hover {
  background-color: #E53935;
  border-radius: 5px;
  color: black;
}

/* Estilo para el enlace activo */
.links a.active {
  background-color: #E53935;
  border-radius: 5px;
  color: white;
}

/* Estilo para el ícono de inicio de sesión (imagen) */
.login-icon {
 
  margin-left: 10px; /* Ajusta el espacio a la izquierda del ícono según tus necesidades */
}

/* Estilo para la imagen de inicio de sesión */
.login-icon img {
  width: 50px; /* Ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* Ajusta la altura de la imagen según tus necesidades */
}


.social-icons {

display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Espaciado superior entre los botones y el texto */
  margin-left: 40px;
  font-size: 50px; /* Tamaño de fuente de los íconos */
  margin-right: 10px; /* Espacio entre los íconos */
  
  text-decoration: none; /* Quita el subrayado de los enlaces */
 
}
.social-icon {
  color: #fff !important;/* Color de los íconos */
}
/* Cambia el color de los íconos cuando se pasa el cursor sobre ellos */
.social-icon :hover {
  color:  #E53935; /* Color de resaltado al pasar el cursor */
}
.social{
  margin: 15px;
}

