@import 'src/styles.css';
/* Estilo para la imagen de la panadería */

#contaainerPrincipal{
  max-width: 1400px;
  background-color: red;
}
.contenedor-inicio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#containerInformativo {
  display: flex;
  justify-content: space-between;

  width: 100%;
 height: 820px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5%;
}

/* Imágenes */
.img1 {
  width: 20%;
  height: auto;
}

.img2 {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.luff1 {
  max-width: 68%;
}

.luff2 {
  max-width: 68%;
  margin-left: auto; /* Pega luff2 a la derecha */
}

#tituloContainer {
  flex-grow: 1; /* El título ocupa todo el espacio disponible */
 
  margin-top: 16px;

}

h1 {
  margin-left: 0px;
font-size: 28px;
width: 50%;
}
p{
text-align: justify;
}
a{
  margin-left: 90%;
color: #fff;
font-size: 30px;
font-family:fantasy;
  width: 50px;
height: auto;
}
 i{
  margin-top: 2%;
  font-size: 40px;
  color: #fff;
}

.articulos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}