<app-navbar></app-navbar>


<body>
    <a href="#">
        <span>Cesta
        </span>
        <i class="fa-solid fa-bag-shopping"></i>
    </a>
    <section class="contenedor-inicio">

        <div class="img1">
            <img class="luff1" src="assets/Luffy.png" alt="foto luffy"></div>
        <div id="containerInformativo">
            <div id="tituloContainer">
                <h1>Bienvenido nakama!!!</h1>
                <p>Aqui encontraras todo lo que
                    <br>necasita tu tripulacion!!!</p>
                <p>Asociacion de nakamas pobres unidos  en pos
                    <br>
                    de la pirateria y en contra de la marina
                    <br>
                    para saber que es el one piece.</p>
                <p>Somos la tripulacion de nakamas mas popular
                    <br>
                    de sevilla acercate a nuestra tienda
                    <br>
                    fisica y disfruta de nuestras mejores
                    <br>
                    ofertas con productos
                    <br>
                    de mayor calidad.</p>
            </div>
            <div class="contenedor-publicidad">
                <section class="publicidad">
                    <div class="descuento"><img src="assets/descuento50.png" alt="descuento" width="150px" height="auto" srcset=""></div>
                    <div class="articulo1"><img src="assets/grupo.jpg" alt="articulo1"  width="450px" height="auto" srcset=""></div>
                </section>

                <section class="articulos">
                    <div class="articulo2"><img src="assets/FUNKO-POP-figuras.jpg" width="150px" height="auto" alt="articulo2" srcset=""></div>
                    <div class="articulo3"><img src="assets/luffyg5.jpg" alt="articulo3" width="150px" height="auto" srcset=""></div>
                    <div class="articulo4"><img src="assets/images.jpeg" alt="articulo4" width="150px" height="auto" srcset=""></div>
                </section>
            </div>

        </div>

        <div class="img2">

            <img class="luff2" src="assets/Luffy02.png" alt="foto luffy">
        </div>
    </section>

</body>
<app-pie></app-pie>
